<% include ../partials/head.ejs %>
  <nav>
    <h3>MUSIC APP</h3>
    <!-- <li><a href="#">Home</a></li>
    <li><a href="#">Sign Up</a></li>
    <li><a href="#">Log In</a></li> -->
    <a id="logout" href="/users/logout">logout</a>
  </nav>
  <title></title>
</head>
<body>
  <a href="/users/<%=user.id%>/<%=playlist.id%>">Back</a>
  <h3>Edit Playlist</h3>
  <form action="/users/<%=user.id%>/<%=playlist.id%>?_method=PUT" method="POST">
    <span>Playlist Name: </span>
    <input type="text" name="playlist_name" value="<%=playlist.playlist_name%>"><br>
    <% for (var i=0; i < playlist.music.length; i++) { %>
      <span>Song <%=i+1%>: </span>
      <input type="text" name="<%=playlist.music[i].song_title%>" value="<%=playlist.music[i].song_title%>">
      <input type="text" name="<%=playlist.music[i].artist%>" value="<%=playlist.music[i].artist%>">
      <input type="text" name="<%=playlist.music[i].music_link%>" value="<%=playlist.music[i].music_link%>"><br>
    <% } %>
    <button>Update</button>
  </form>
<% include ../partials/footer.ejs %>
