<% include ../partials/head.ejs %>
    <a id="logout" href="/users/logout">Logout</a>
  </nav>
  <title></title>
</head>
<body>
  <a href="/users/<%=user.id%>/<%=playlist.id%>">Back</a>
  <h3>Edit Playlist Name</h3>
  <form action="/users/<%=user.id%>/<%=playlist.id%>" method="POST">
    <input type="text" name="playlist_name" value="<%=playlist.playlist_name%>">
    <input type="hidden" name="_method" value="PUT">
    <button>Update</button>
  </form>
<% include ../partials/footer.ejs %>
