<% include ../partials/head.ejs %>
    <div class="right-nav-div">
      <li><span>Welcome, <a href="/users/<%=user.id%>/profile"><%=user.first_name%></a> | </span></li>
      <li><a id="logout" href="/users/logout">Logout</a></li>
    </div>
  </nav>
  <title></title>
</head>
<body>
  <div class="fade-in">
    <br>
    <div class="profile">
      <div class="profile-header">
        <li><h2>User Profile</h2></li>
        <% if (usertrue) { %>
          <li><a href="/users/<%=user.id%>/profile/edit"><i class="font">&#xE800</i></li></a>
        <% } %>
      </div>
      <h4>Name: </h4><%=user.first_name%> <%=user.last_name%>
      <h4>Username: </h4><%=user.username%>
      <h4>Email: </h4><%=user.email%>
    </div>
  </div>
<% include ../partials/footer.ejs %>
