<% include ../partials/head.ejs %>
<nav>
  <h3>MUSIC APP</h3>
  <!-- <li><a href="#">Home</a></li>
  <li><a href="#">Sign Up</a></li>
  <li><a href="#">Log In</a></li> -->
  <a id="logout" href="/users/logout">logout</a>
</nav>
  <title></title>
</head>
<body>
  <a href="/users/<%=user.id%>">Back</a><br>

  <h3><%=playlist.playlist_name%></h3>
  <a href="/users/<%=user.id%>/<%=playlist.id%>/newsong">Add New Song</a> |
  <a href="/users/<%=user.id%>/<%=playlist.id%>/editlist"><i class="font">&#xE800</i> Edit Playlist Name</a><br><br>
  <table>
    <tr>
      <td></td>
      <td>Song Title</td>
      <td>Artist</td>
      <td></td>
    </tr>
    <% for (var i=0; i < playlist.music.length; i++) { %>
      <tr>
        <td><a href="<%= playlist.music[i].music_link %>"><i class="music">&#xE800</i></a></td>
        <td><%= playlist.music[i].song_title %></td>
        <td><%= playlist.music[i].artist %></td>
        <td><a href="<%= playlist.music[i].music_link %>"><i class="font">&#xE800</i></a></td>
      </tr>
    <% } %>
  </table>
<% include ../partials/footer.ejs %>
